<div class="searchBar">
  <input id="searchInput" type="text" placeholder="Search Address">
  <a routerLink="/BuildingResultsTableComponent" routerLinkActive="active">
    <img src="http://www.stickpng.com/assets/images/585e4ae1cb11b227491c3393.png" alt="search" >
  </a>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDSWpmB0dgx5Bz-Folt-dEaNnv_lkxBtgU
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
